*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

#navbar {
    display: flex;
    height: 55px;
    position: sticky;
    top: 0;
    left: 0;
    font-family: 'Baloo 2', cursive;
}
#navbar::before{
    content: " ";
    background-color: black;
   position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}
#logo{
    margin: 5px 20px;
    transition: all 2s ease-in-out;
}
#logo img:hover{
    transform: scale(1.5);
}
#logo img{
    height: 50px;
}
#navbar ul{
    display: flex;
    list-style: none;
}
#navbar ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    margin: 12px 20px;
}
#navbar ul li a:hover{
    color: black;
    text-decoration: line;
    background-color: white;
     border-radius: 10px;
}

/* Fixing home toolbar */
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    /* color: white; */
}
#home::before{
    content: " ";
    background: url('./images/bg6.jpg') no-repeat center  center/cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .9;
}
#header{
    color: white;
    font-size: 4rem;
    font-family: 'Lobster Two', cursive;
    padding-top: 40px;
}
#home p{
    color: white;
    width: 800px;
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}
.btn{
    margin: 20px 10px;
    padding: 5px 45px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: rgb(141, 137, 137);
    font-weight: bold;
    font-size: 0.9rem;
}
.btn:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
}

/* Services block  */
.container{
    display: flex;
}
.title{
    margin: 20px 20px;
    display: block;
    text-align: center;
    font-size: 2.8rem;
    font-family: 'Lobster Two', cursive;
}
.box img{
    height: 120px;
    width: 120px;
    display: block;
    margin: auto;
}
.box h1{
      font-size: 1.4rem;
    text-align: center;
    font-family: 'Baloo 2', cursive;
}
.box{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    padding: 5px 5px;
    text-align: center;
    border-radius: 25px;
    background-color: rgb(226, 202, 202);
    font-family: 'Baloo 2', cursive;
    box-shadow: 10px 10px 10px green;
}
#client{
    position: relative;
    /* height: 200px; */
    margin: 30px 10px;
    padding: 20px 0px;
}
#client::before{
      content: " ";
      background: url('./images/bg1.jpg') no-repeat center center/cover;
      position: absolute;
      /* top: 0;
      left: 0; */
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0.3;
}
.boxx img{
    height: 200px;
    width: 200px;
}
.container2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Setting up contact us */
#contact{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact::before{
    content: " ";
    background: url('./images/contactus.jpg') no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .3;
}

#contactbox{
    display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}
#contactbox form label{
      margin: 5px 5px;
      padding: 5px 5px;
      font-size: .9rem;
      font-weight: bold;
}
#contactbox form input{   
      margin: 5px 5px;
      padding: 5px 5px;
      font-size: .8rem;
      width: 100%;
      height: 20px;
}
footer{
    background-color: black;
    color: white;
}
#foot{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
}